body,
html,
#root,
.App {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll hidden;
}

.section {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	scroll-snap-align: start;
	position: relative;
}

.home {
	background-color: #402e7a;
}

.projects {
	background-color: #4c3bcf;
}

.contact {
	background-color: #402e7a;
}
.primary {
	color: #4b70f5;
}
.secondary {
	color: #3dc2ec;
}
