body,
html,
#root,
.App {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll hidden;
	font-family: "Nunito", sans-serif;
}

.section {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	scroll-snap-align: start;
	position: relative;
}

.divider1 {
	height: 20vh;
	width: 100%;
	background: linear-gradient(to bottom, black, #080521);
}

.title1 {
	position: absolute;
	color: white;
	font-size: 40px;
	top: 50px;
	left: 100px;
}
.title2 {
	position: absolute;
	color: white;
	font-size: 40px;
	bottom: 50px;
	right: 100px;
}
.home {
	background-color: black;
}

.projects {
	display: flex;
	align-items: center;
	background-color: #080521;
	justify-content: center;
}

.contact {
	background-color: #402e7a;
}
.primary {
	color: #4b70f5;
}
.secondary {
	color: #3dc2ec;
}

#cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 10px;
	min-width: 916px;
	width: calc(100% - 20px);
}
.card-content {
	position: relative;
	justify-content: center;
	align-items: center;
}
