body,
html,
#root,
.App {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	scroll-snap-type: y mandatory;
	overflow-y: scroll hidden;
	font-family: "Nunito", sans-serif;
}

.section {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	scroll-snap-align: start;
	position: relative;
}

.divider1 {
	height: 20vh;
	width: 100%;
	background: linear-gradient(to bottom, black, #080521);
}

.divider2 {
	height: 20vh;
	width: 100%;
	background: linear-gradient(to bottom, #080521, black);
}
.divider3 {
	height: 20vh;
	width: 100%;
	background: linear-gradient(to bottom, black, #190f74);
}

.title1 {
	position: absolute;
	color: white;
	font-size: 40px;
	top: 50px;
	left: 100px;
	font-weight: 200;
}
.title2 {
	position: absolute;
	color: white;
	font-size: 40px;
	bottom: 50px;
	right: 100px;
	font-weight: 200;
}
.home {
	background-color: black;
}

.projects {
	display: flex;
	align-items: center;
	background-color: #080521;
	justify-content: center;
}

.contact {
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: center;
}
.footer {
	color: white;
	background-color: #190f74;
	z-index: -1;
}
.primary {
	color: #4b70f5;
}
.secondary {
	color: #3dc2ec;
}
.card {
	-webkit-box-reflect: below 7px
		linear-gradient(transparent, transparent 50%, #fff4 100%);
}

#cards {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
	min-width: 916px;
	width: calc(100% - 20px);
}
.card-content {
	position: relative;
	justify-content: center;
	align-items: center;
	z-index: 21;
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-content {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	width: 80%;
	height: 80%;
	max-width: 100%;
	position: relative;
	animation-duration: 0.4s;
	animation-fill-mode: both;
}

.modal-content.fade-in {
	animation-name: fadeInDown;
}

.modal-content.fade-out {
	animation-name: fadeOutUp;
}

.modal-close-button {
	background: none;
	border: none;
	font-size: 16px;
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		transform: translateY(-30%);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.modal-container {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.modal-container__1 {
	margin: 5px;
	padding: 15px;
	font-size: 18px;
	text-align: left;
}
.second-third-wrapper {
	position: absolute;
	display: flex;
	width: 95%;
	margin: 5px;
	margin-bottom: 25px;
	bottom: 0;
	background-color: #fff;
}
.modal-container__2,
.modal-container__3 {
	background-image: linear-gradient(144deg, #402e7a, #5b42f3 50%, #4b70f5);
	color: white;
	font-size: 16px;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 15px;
	border: 1px solid black;
	width: 30%;
	box-shadow: 3px 3px 3px rgb(69, 31, 192);
}

.iconStyle {
	padding: 2px;
	margin: 5px;
	border: 1px solid black;
	box-shadow: 2px 2px 1px black;
	border-radius: 5px;
	background-color: white;
}
.rotate-svg {
	animation: rotate 2s linear infinite;
}

.linkIcon {
	border: 1px solid white;
	border-radius: 25%;
	padding: 10px;
	margin: 10px;
	cursor: pointer;
}
.linkIcon:hover {
	margin-bottom: 20px;
	transition: 500ms;
}

.contact-container {
	width: 50vw;
	margin-top: 20px;
}

.contact-form {
	display: flex;
	flex-direction: column;
	gap: 15px;
	color: white;
	align-items: center;
}
.contact-label {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 5px;
}
.contact-input {
	margin-left: 10px;
	padding: 10px;
	border: 2px solid #ccc;
	border-radius: 15px;
	overflow: hidden;
	overflow-y: scroll;
	font-size: 1rem;
}
.contact-input::-webkit-scrollbar {
	display: none;
}

.textarea {
	resize: none;
}

.contact-button {
	width: 30%;
	padding: 10px;
	border: 2px solid white;
	outline: none;
	color: #fff;
	background: black;
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 10px;
}
.contact-button:before {
	content: "";
	background: linear-gradient(
		45deg,
		#402e7a,
		#3e2055,
		#1125ac,
		#631187,
		#00ffd5,
		#5b42f3,
		#7a00ff,
		#c6c8cb,
		#4b70f5
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
	border-radius: 10px;
}

.glowing-element {
	width: 30px;
	height: 30px;

	background: white;
	position: relative;
	z-index: 0;
	border-radius: 50%;
}
.glowing-element:before {
	content: "";
	background: linear-gradient(
		45deg,
		#402e7a,
		#3e2055,
		#1125ac,
		#631187,
		#00ffd5,
		#5b42f3,
		#7a00ff,
		#c6c8cb,
		#4b70f5
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	border-radius: 50%;
	filter: blur(5px);
	width: 100%;
	height: 100%;
	animation: glowing 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
}
.glowing-background {
	background-color: black;
	position: relative;
	z-index: 0;
}
.glowing-background:before {
	content: "";
	background: linear-gradient(
		45deg,
		#23174b,
		#278994,
		#172581,
		#441459,
		#5c1a7a,
		#2f1bb2,
		#7a00ff,
		#c6c8cb,
		#4b70f5
	);
	position: absolute;
	background-size: 400%;
	z-index: -1;
	filter: blur(15px);
	opacity: 0.5;
	filter: blur(15px);
	width: 100%;
	height: 200%;
	border-radius: 40%;
	top: -50%;
	left: -50%;
	transform: rotate(30deg);
	animation: glowing 20s linear infinite;
	transition: opacity 0.3s ease-in-out;
}

.contact-button:hover:before {
	opacity: 1;
}
.contact-button:hover {
	transition: 0.3s;
	font-weight: bold;
}

.contact-button:after {
	z-index: -1;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #111;
	left: 0;
	top: 0;
	border-radius: 10px;
	background: transparent;
}
.contact-info {
	height: 100%;
	width: 100%;
	margin-left: 50px;
}
.contact-box {
	display: flex;
	justify-content: left;
	align-items: center;
	margin: 10px;
}
.info-element {
	margin: 15px;
	font-weight: bold;
	color: white;
	font-size: 22px;
}
.link-element {
	color: white;
}
@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
